[run]
omit =
    */tests/*
    */accessors/*
    */data_setup/match/*
    *accessor.py
    /Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/boto3/*

include =
   */common/*
   */resource_helpers/*
   */resources/*
   */scripts/*

[report]
exclude_lines =
    # Don't complain if tests don't hit defensive assertion code
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
